.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
}

.call-to-action h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  color: var(--my-letter-color);

  font-size: 2rem;
}

.contact-me {
  margin-bottom: 2rem;
  font-weight: bold;
  color: var(--my-letter-color);
}
