.narbar {
  display: flex;
  z-index: 10;
  flex-direction: column;
  top: 0;
  position: sticky;
  width: 100%;
  font-weight: bold;
}

.links {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  background-color: oklch(90.1% 0.058 230.902);
}

.logo {
  background-image: url("../../assets/narbar_bg.png");
  background-repeat: no-repeat; /* Don't repeat */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #10100d;
  font-size: 1.5rem;
  min-height: 2rem;
  padding: 1rem 3rem;
  transition: all 0.3s ease;
}

.logo.scrolled {
  padding: 0rem 3rem;
  min-height: 1rem;
}
