@import "tailwindcss";
:root {
  --my-blue: oklch(90.1% 0.058 230.902);
  --my-letter-color: rgb(207, 77, 51);
}
@media (max-width: 768px) {
  .image-center {
    max-width: 90vw;
  }

  .image-wrapper.image {
    max-width: 70vw;
  }

  .image-center:hover {
    max-width: 95vw;
  }

  .review-container {
    height: auto;
    flex-direction: column; /* Stack images vertically if needed */
    gap: 1rem;
  }
  .left-arrow,
  .right-arrow {
    height: 2.5rem;
    width: 2.5rem;
  }
  .left-arrow {
    left: 5%;
  }
  .left-arrow {
    right: 5%;
  }
  .btn {
    height: 0.8rem;
    width: 0.8rem;
  }
}

/* body {
  background-color: #301c12;
  background-image: url("https://www.transparenttextures.com/patterns/retina-wood.png");
} */
.wrapper {
  min-height: 80vh;

  display: flex;
  flex-direction: column;
}
footer {
  height: 5rem;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: url("./assets/narbar_bg.png");
}
